@CHARSET "UTF-8";
html body {
	width: 650px;
	height: 300px;
}

.downloadTable{
	width: 100%;
	padding: 1%;
	text-align: center;
}
td{
	width: auto;
	margin-right: 5px;
}
td.last-child{
	margin-right:0px;
}